<nav id="main-nav">
    <div id="responsive-nav">
        <div id="responsive-nav-button">
            Menu <span id="responsive-nav-button-icon"></span>
        </div><!-- responsive-nav-button -->
    </div>
    <ul class="menu clearfix">

        <li><a class="active" href="../../../index.php">Главная</a></li>
        <li class="mega-menu-container"><a href="/cat">Каталог</a>
            <div class="mega-menu clearfix">
                {% for key in catalog_menu %}
                    {% if key.parent == 0 %}
                <div class="col-5">
                    <a href="{{ key.link }}" class="mega-menu-title">{{ key.name }}</a><!-- End .mega-menu-title -->
                    <ul class="mega-menu-list clearfix">
                        {% for sub in catalog_menu %}
                        {% if key.lid == sub.parent %}
                        <li><a href="{{ sub.link }}">{{ sub.name }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div><!-- End .col-5 -->
                    {% endif %}
            {% endfor %}

            </div><!-- End .mega-menu -->
        </li>
        <li><a href="/blog">Блог</a></li>
        <li><a href="/info">Оплата и доставка</a></li>

        <li><a href="/contacts">Контакты</a></li>


    </ul>

</nav>