<div id="quick-access">
    <div class="dropdown-cart-menu-container pull-right">
        <div class="btn-group dropdown-cart">
            <button type="button" class="btn btn-custom dropdown-toggle" id="button_miniCart" data-toggle="dropdown">
                <span class="cart-menu-icon"></span>
               <span id="countMiniCart"> {{ cart.count() }}</span> item(s) <span class="drop-price"> - {{ currency }}<span id="totalMiniCart">{{ cart.total }}</span></span>
            </button>
            <div id="ajaxMiniCart">
                {% include "site/layouts/ajaxMiniCart.html.twig" %}
            </div>
        </div><!-- End .btn-group -->
    </div><!-- End .dropdown-cart-menu-container -->


    <form class="form-inline quick-search-form" role="form" action="#">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search here">
        </div><!-- End .form-inline -->
        <button type="submit" id="quick-search" class="btn btn-custom"></button>
    </form>
</div><!-- End #quick-access -->