<div class="ratings-container">
    <div class="ratings" data-id="{{ id }}" data-move="true" data-href="{{ route('site.rating.change') }}">
        <div class="ratings-result" data-result="100"></div>
    </div><!-- End .ratings -->
    <span class="ratings-amount"><b style="color: black">3</b> Reviews</span>
</div><!-- End .rating-container -->