<div id="quick-access">
    <div class="dropdown-cart-menu-container pull-right">
        <div class="btn-group dropdown-cart">
            <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">
                <span class="cart-menu-icon"></span>
                0 item(s) <span class="drop-price">- $0.00</span>
            </button>

            <div class="dropdown-menu dropdown-cart-menu pull-right clearfix" role="menu">
                <p class="dropdown-cart-description">Recently added item(s).</p>
                <ul class="dropdown-cart-product-list">
                    <li class="item clearfix">
                        <a href="#" title="Delete item" class="delete-item"><i class="fa fa-times"></i></a>
                        <a href="#" title="Edit item" class="edit-item"><i class="fa fa-pencil"></i></a>
                        <figure>
                            <a href="product.html"><img src="{{ assets("images/products/thumbnails/item12.jpg") }}" alt="phone 4"></a>
                        </figure>
                        <div class="dropdown-cart-details">
                            <p class="item-name">
                                <a href="product.html">Cam Optia AF Webcam </a>
                            </p>
                            <p>
                                1x
                                <span class="item-price">$499</span>
                            </p>
                        </div><!-- End .dropdown-cart-details -->
                    </li>
                    <li class="item clearfix">
                        <a href="#" title="Delete item" class="delete-item"><i class="fa fa-times"></i></a>
                        <a href="#" title="Edit item" class="edit-item"><i class="fa fa-pencil"></i></a>
                        <figure>
                            <a href="product.html"><img src="{{ assets("images/products/thumbnails/item13.jpg") }}" alt="phone 2"></a>
                        </figure>
                        <div class="dropdown-cart-details">
                            <p class="item-name">
                                <a href="product.html">Iphone Case Cover Original</a>
                            </p>
                            <p>
                                1x
                                <span class="item-price">$499<span class="sub-price">.99</span></span>
                            </p>
                        </div><!-- End .dropdown-cart-details -->
                    </li>
                </ul>

                <ul class="dropdown-cart-total">
                    <li><span class="dropdown-cart-total-title">Shipping:</span>$7</li>
                    <li><span class="dropdown-cart-total-title">Total:</span>$1005<span class="sub-price">.99</span></li>
                </ul><!-- .dropdown-cart-total -->
                <div class="dropdown-cart-action">
                    <p><a href="cart.html" class="btn btn-custom-2 btn-block">Cart</a></p>
                    <p><a href="checkout.html" class="btn btn-custom btn-block">Checkout</a></p>
                </div><!-- End .dropdown-cart-action -->

            </div><!-- End .dropdown-cart -->
        </div><!-- End .btn-group -->
    </div><!-- End .dropdown-cart-menu-container -->


    <form class="form-inline quick-search-form" role="form" action="#">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search here">
        </div><!-- End .form-inline -->
        <button type="submit" id="quick-search" class="btn btn-custom"></button>
    </form>
</div><!-- End #quick-access -->