{% for key in arr %}
    <div style="height:60px;border: 1px solid lawngreen; margin:20px;width:100px;">
        <p>{{ key.id }}</p>
    </div>
{% endfor %}

{{ showPagination()|raw }}

{{ prefs('ch_kek') }}