{% if isset(manufactures) %}
<div id="brand-slider-container" class="carousel-wrapper">
    <header class="content-title">
        <div class="title-bg">
            <h2 class="title">Manufacturers</h2>
        </div><!-- End .title-bg -->
    </header>
    <div class="carousel-controls">
        <div id="brand-slider-prev" class="carousel-btn carousel-btn-prev">
        </div><!-- End .carousel-prev -->
        <div id="brand-slider-next" class="carousel-btn carousel-btn-next carousel-space">
        </div><!-- End .carousel-next -->
    </div><!-- End .carousel-controllers -->
    <div class="sm-margin"></div><!-- space -->
    <div class="row">
        <div class="brand-slider owl-carousel">
            {% for manufac in manufactures %}
            <img src="{{ assets("images/")}}/{{ manufac }}" alt="Brand Logo 1">
            {% endfor %}
        </div><!-- End .brand-slider -->
    </div><!-- End .row -->
</div><!-- End #brand-slider-container -->
{% endif %}