<div id="products-tabs-content" class="row tab-content">
    {% if list_tovars_categ.all is defined %}
    <div class="tab-pane active" id="all">
        {% for tovar in tovars %}
            {% if search_str(tovar.lid,list_tovars_categ.all_prod) %}
                {% include "site/layouts/tovar.html.twig" %}
            {% endif %}
        {% endfor %}
    </div><!-- End .tab-pane -->
    {% endif %}

    {% if tovar_latest is defined %}
    <div class="tab-pane" id="latest">
        {% for tovar in tovar_latest %}
            {% include "site/layouts/tovar.html.twig" %}
        {% endfor %}
    </div><!-- End .tab-pane -->
    {% endif %}

    {% if list_tovars_categ.featured is defined %}
    <div class="tab-pane" id="featured">
        {% for tovar in tovars %}
        {% if search_str(tovar.lid,list_tovars_categ.featured) %}
            {% include "site/layouts/tovar.html.twig" %}
        {% endif %}
        {% endfor %}
    </div><!-- End .tab-pane -->
    {% endif %}

    {% if list_tovars_categ.bestsellers is defined %}
    <div class="tab-pane" id="bestsellers">
        {% for tovar in tovars %}
        {% if search_str(tovar.lid,list_tovars_categ.bestsellers) %}
            {% include "site/layouts/tovar.html.twig" %}
        {% endif %}
        {% endfor %}
    </div><!-- End .tab-pane -->
    {% endif %}

{% if list_tovars_categ.special is defined %}
    <div class="tab-pane" id="special">
        {% for tovar in tovars %}
            {% if search_str(tovar.lid,list_tovars_categ.special) %}
                {% include "site/layouts/tovar.html.twig" %}
        {% endif %}
        {% endfor %}
    </div><!-- End .tab-pane -->
    {% endif %}
</div><!-- End #products-tabs-content -->