<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->
<head>

    {% block head %}
        {% include "site/layouts/head.html.twig" %}


    {% endblock %}

</head>
<body>
<div id="wrapper">
    {% include "site/layouts/header.html.twig" %}

    {% block content %}
    {% endblock %}

    {% include "site/layouts/footer.html.twig" %}

</div><!-- End #wrapper -->

<a href="#" id="scroll-top" title="Scroll to Top"><i class="fa fa-angle-up"></i></a><!-- End #scroll-top -->

<!-- END -->
{% include "site/layouts/js.html.twig" %}
{% block js %}
{% endblock %}
</body>
</html>